@using Inventario.Models

@{
    ViewBag.Title = "inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model InventarioModal

@*CONTROL TAB PAGE*@
<div id="exTab2" class="container" style="padding-top: 40px; max-width:95%;">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="text-center">Inventario</h2>
            <ul id="myTabs" class="nav nav-tabs">
                <li class="active"><a class="Buscar" href="#OpcionesB">Stock</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="true">Agregar Equipo<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                        @{foreach (var item in Model.listaTypeHardware)
                        {
                            if (@item.Description == "CPU")
                            {
                                <li class="">
                                    <a class="titulo" href="#computadora" role="tab" id="dropdown1-tab" data-id="@item.TypeHardwareID" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">@item.Description</a>
                                </li>
                            }
                            else
                            {
                                <li class="">
                                    <a class="titulo" href="#Opciones" role="tab" id="dropdown1-tab" data-id="@item.TypeHardwareID" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">@item.Description</a>
                                </li>
                            }
                        }
                        }
                    </ul>
                </li>

                <li class=""><a class="Facturas" href="#Facturas">Facturas</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="Opciones">

                  
                    <form id="FormPrincipal" method="post" class="form-horizontal" action="~/home/Registro">
                        <h3 id="tituloHardware" class="text-center" style="margin:40px;">Impresora</h3>
                        @*<div class="form-group">
                            <label class="col-sm-2 text-right col-sm-offset-1">SUBIR FACTURA:</label>

                            <div class="col-sm-8">
                                <input id="input-id" type="file" class="file" data-preview-file-type="text">
                            </div>
                        </div>*@
                        <div class="form-group">

                            <label class="col-sm-2 text-right">USUARIO:</label>

                            <div class="col-sm-8">
                                <input type="text" name="clUsuario" class="form-control cajas" placeholder="Usuario" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 text-right">SERIE:</label>

                            <div class="col-sm-8">
                                <input type="text" name="clSerie" class="form-control cajas" placeholder="Serie" required>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-2 text-right">MODELO:</label>
                            <div class="col-sm-8">
                                <input type="text" name="clModelo" class="form-control cajas" placeholder="Modelo" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 text-right">NOM.EQUIPO:</label>
                            <div class="col-sm-8">
                                <input type="text" name="clNoEquipo" class="form-control cajas" placeholder="Nombre del Equipo">
                            </div>
                        </div>
                        <div id="divfactura" class="form-group">
                            <label class="col-sm-2 text-right">FACTURA:</label>
                            <div class="col-sm-5">
                                <input name="clFactura" type="text" class="form-control cajas autocomplete" placeholder="Selecciona la Factura para el Equipo">
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#modal2">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Agregar
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 text-right">EQUIPO CRITICO:</label>
                            <div class="col-sm-8">
                                <input type="checkbox" name="clEquipoCritico" class="micheckbox">
                            </div>
                        </div>

                     

                        <div class="form-group">
                            <label class="col-sm-2 text-right" style="padding-right:20px;">
                                AREA:
                            </label>
                            <div class="col-sm-5">


                                <select name="clArea" class="selectpicker" data-style="btn-primary">
                                    @{foreach (var item in Model.listaAreas)
                                    {
                                        <option value="@item.AreaID">@item.Name</option>

                                    }
                                    }


                                </select>
                            </div>
                            <div class="col-sm-3 QR" >

                                <img id="ImagenQR"src="" />
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 text-right">
                                MARCA:
                            </label>
                            <div class="col-sm-8">
                                <select name="clMarca" class="selectpicker" data-style="btn-primary">
                                    @{foreach (var item in Model.listaBrand)
                                    {
                                        <option value="@item.BrandID">@item.Name</option>
                                    }

                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 text-right">
                              ASIGNAR A SERIAL:
                            </label>
                            <div class="col-sm-8">
                                <select name="clSerialAsignar" class="selectpicker" data-style="btn-primary">
                                    <option>N/A</option>
                                    @if(Model.listaHardware != null)
                                    { 
                                        foreach (var item in Model.listaHardware.Where(x => x.TypeHardware.Description == "CPU"))
                                        {
                                            <option value="@item.SerialNumber">@item.SerialNumber</option>
                                        }

                                    }

                                </select>
                            </div>

                        </div>
                      
           


                            @* input escondido para saber el tipo de hardaware en la base de Datos *@
                            <div class="col-sm-8">
                                <input value="1" type="text" id="Hardware" name="tipoHardware" hidden>
                            </div>
                        @* input escondido para mandar la alerta *@
                        <div class="col-sm-8">
                            <input type="text" class="Ver" value="@Model.veriFicacion" hidden />
                        </div>
                        
                        @*../Home/BarcodeImage?barcodeText=HolaMundo*@
                            <div class="col-sm-2 col-sm-offset-4">
                                <button type="submit" class="btn btn-primary" name="action">Submit</button>
                            </div>
                        <div class="col-sm-2">
                            <button id="QrFactura" class="btn btn-primary">Generar QR</button>
                        </div>
                </form>


                </div>




                <div class="tab-pane" id="computadora">
                    <div class="contenedorflex">

                        <div class="columna1">
                            
                                <h3 class="text-center">Computadora</h3>

                                <div class="form-group">
                                    <label>USUARIO:</label>
                                    <input type="text" name="clusuario" class="form-control cajas" placeholder="Usuario" required>
                                </div>

                            

                                <div class="form-group">
                                    <label>SERIE:</label>
                                    <input type="text" name="clserie" class="form-control" placeholder="Serie" required>
                                </div>
                                <div class="form-group">
                                    <label>MODELO:</label>
                                    <input type="text" name="clmodelo" class="form-control" placeholder="Modelo" required>
                                </div>
                                <div class="form-group">
                                    <label>NOM.EQUIPO:</label>

                                    <input type="text" name="clnoequipo" class="form-control cajas" placeholder="Nombre del equipo" required>

                                </div>
                                <div class="form-group">
                                    <label>EQUIPO CRITICO:</label>

                                    <input type="checkbox" name="clequipocritico" class="micheckbox">

                                </div>

                                <div class="form-group">
                                    <label style="padding-right:38px;">AREA:</label>
                                    <select class="selectpicker selectArea" data-style="btn-primary">
                                        @{foreach (var item in Model.listaAreas)
                                        {
                                            <option value="@item.AreaID">@item.Name</option>

                                        }
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label style="padding-right:20px;">
                                        MARCA:
                                    </label>
                                    <select class="selectpicker selectMarca" data-style="btn-primary">
                                        @{foreach (var item in Model.listaBrand)
                                        {
                                            <option value="@item.BrandID">@item.Name</option>

                                        }
                                        }
                                    </select>
                                </div>



                                @* input escondido para saber el tipo de hardaware en la base de Datos *@
                                <div class="col-sm-8">
                                    <input value="6" type="text" name="tipoHardware" hidden>
                                </div>
                               

                            
                        </div>
                        <div class="columna1">

                            <div style="padding-bottom:10px;">
                                <label style="margin:20px;">Componentes</label>
                                @* boton para agregar el nuevo componente teclado.. mouse.. pantalla.. etc *@
                                <button id="agregarComponente" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </div>

                            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseexample" aria-expanded="false" aria-controls="collapseexample" style="width:100%;">
                                Tipo
                            </button>
                            <div class="collapse in" id="collapseexample">
                                <div class="well">
                                    <div class="componente">

                                        <select class="tipoComponente">
                                            @{foreach (var item in Model.listaTypeHardware)
                                            {
                                                if (item.TypeHardwareID != 6)
                                                {
                                                    <option value="@item.TypeHardwareID">@item.Description</option>
                                                }
                                            }
                                            }
                                        </select>
                                    </div>
                                    <div class="componente">
                                        <label>serie</label>
                                        <input type="text" class="form-control serieComponente" placeholder="serie" required>
                                    </div>
                                    <div class="componente" style="padding-top:15px;padding-bottom:15px;">
                                        <label style="padding-right:20px;">
                                            MARCA:
                                        </label>
                                        <select class="selectpicker marcaComponente" data-style="btn-primary">
                                            @{foreach (var item in Model.listaBrand)
                                            {
                                                <option value="@item.BrandID">@item.Name</option>
                                            }

                                            }

                                        </select>

                                    </div>
                                    <div class="componente">
                                        <label>MODELO:</label>
                                        <input type="text" class="form-control modeloComnponente" placeholder="modelo" required>
                                    </div>



                                </div>
                            </div>





                            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseexample1" aria-expanded="false" aria-controls="collapseexample" style="width:100%;">
                                Tipo
                            </button>
                            <div class="collapse in" id="collapseexample1">
                                <div class="well">
                                    <div class="componente">

                                        <select class="tipoComponente">
                                            @{foreach (var item in Model.listaTypeHardware)
                                            {
                                                if (item.TypeHardwareID != 6)
                                                {
                                                    <option value="@item.TypeHardwareID">@item.Description</option>
                                                }
                                            }
                                            }
                                        </select>
                                    </div>
                                    <div class="componente">
                                        <label>serie</label>
                                        <input type="text" class="form-control serieComponente" placeholder="serie" required>
                                    </div>
                                    <div class="componente" style="padding-top:15px;padding-bottom:15px;">
                                        <label style="padding-right:20px;">
                                            MARCA:
                                        </label>
                                        <select class="selectpicker marcaComponente" data-style="btn-primary">
                                            @{foreach (var item in Model.listaBrand)
                                            {
                                                <option value="@item.BrandID">@item.Name</option>
                                            }

                                            }

                                        </select>

                                    </div>
                                    <div class="componente">
                                        <label>MODELO:</label>
                                        <input type="text" class="form-control modeloComnponente" placeholder="modelo" required>
                                    </div>



                                </div>
                            </div>

                            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseexample2" aria-expanded="false" aria-controls="collapseexample" style="width:100%;">
                                Tipo
                            </button>
                            <div class="collapse in" id="collapseexample2">
                                <div class="well">
                                    <div class="componente">

                                        <select class="tipoComponente">
                                            @{foreach (var item in Model.listaTypeHardware)
                                            {
                                                if (item.TypeHardwareID != 6)
                                                {
                                                    <option value="@item.TypeHardwareID">@item.Description</option>
                                                }
                                            }
                                            }
                                        </select>
                                    </div>
                                    <div class="componente">
                                        <label>serie</label>
                                        <input type="text" class="form-control serieComponente" placeholder="serie" required>
                                    </div>
                                    <div class="componente" style="padding-top:15px;padding-bottom:15px;">
                                        <label style="padding-right:20px;">
                                            MARCA:
                                        </label>
                                        <select class="selectpicker marcaComponente" data-style="btn-primary">
                                            @{foreach (var item in Model.listaBrand)
                                            {
                                                <option value="@item.BrandID">@item.Name</option>
                                            }

                                            }

                                        </select>

                                    </div>
                                    <div class="componente">
                                        <label>MODELO:</label>
                                        <input type="text" class="form-control modeloComnponente" placeholder="modelo" required>
                                    </div>



                                </div>
                            </div>


                        </div>

                       
                  

                    </div>
                    <button id="crearComponentes" type="submit" class="btn btn-primary">Submit</button>
                </div>


                @* Opciones para Buscar Hardware *@

                
                <div class="tab-pane active" id="OpcionesB">

                    <h3 class="text-center" style="margin:40px;">Busqueda de Equipo</h3>

                    <table data-toggle="table" data-search="true" data-toolbar="#toolbar"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-show-export="true"
                           data-minimum-count-columns="2"
                           data-show-pagination-switch="true"
                           data-pagination="true"
                           data-id-field="id"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-show-footer="false">
                        <thead>
                            <tr>
                                <th data-sortable="true">Serial</th>
                                <th data-sortable="true">Usuario (Nombre)</th>
                                <th data-sortable="true">Usuario (Red)</th>
                                <th data-sortable="true">Marca</th>
                                <th data-sortable="true">Modelo</th>
                                <th data-sortable="true">Nombre Equipo</th>
                                <th data-sortable="true">Area</th>
                                <th data-sortable="true">Crítico</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.listaHardware != null)
                            {
                                foreach (var item in Model.listaHardware)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <button data-id="@item.SerialNumber" type="button" class="editarInvetario btn btn-primary btn-lg" data-toggle="modal" data-target="#modal1" style="width:80%">
                                                @item.SerialNumber
                                            </button>
                                        </td>
                                        <td>@item.UserName</td>
                                        <td>@item.UserNetworkName</td>
                                        <td>@item.Brand.Name</td>
                                        <td>@item.Model</td>
                                        <td>@item.NameEquip</td>
                                        <td>@item.Area.Name</td>
                                        <td>@item.CriticEquip</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>





                </div>

                @* Opciones para Facturas *@
                <div class="tab-pane" id="Facturas">
                    
                    <h3 class="text-center" style="margin:40px;">Facturas</h3>
                  

                   

                    <table data-toggle="table" data-search="true" data-toolbar="#toolbar"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-show-export="true"
                           data-minimum-count-columns="2"
                           data-show-pagination-switch="true"
                           data-pagination="true"
                           data-id-field="id"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-show-footer="false">
                        <thead>
                            <tr> 
                               
                                
                                <th data-sortable="true" class="text-center">P.O</th>
                                <th data-sortable="true" class="text-center">Numero Pedimento</th>
                                

                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @if (Model.listaFacturas != null)
                            {
                                foreach (var item in Model.listaFacturas)
                                {
                                    <tr>
                                        @*<td class="text-center">

                                         <button data-id="@item.PO" class="btn btn-danger EliminarFactura">Eliminar</button>

                                       </td>*@

                                        <td class="text-center">
                                            <button data-id="@item.PO" type="button" class="editarFactura btn btn-primary btn-lg" data-toggle="modal" data-target="#modalFac">
                                                @item.PO
                                            </button>
                                        </td>
                                        
                                        @if(@item.RequestDocument == null || @item.RequestDocument == "")
                                        { 
                                            <td>N/A</td>
                                             
                                        }
                                        else
                                        {
                                          <td>@item.RequestDocument</td>
                                        }

                                        @*<td>@item.RequestDate.Date.ToShortDateString()</td>*@

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>





                </div>
               
            </div>
            </div>
        </div>
</div>


@*EDITAR ARCHIVOS *@
<div id="modal1" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               
                <h3 class="modal-title text-center" >Editar Inventario</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*EDITAR COMPONENTE*@
                    <div class="col-md-7">
                        <div class="row">
                            <form id="f1" class="form-horizontal" method="post" action="~/home/RegistroEditar">

                                <div class="form-group">

                                    <label class="col-md-2 col-md-offset-1 text-left">USUARIO:</label>

                                    <div class="col-md-8">
                                        <input id="modalUsuario" name="clUsuario" type="text" class="form-control" placeholder="Usuario" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-1 text-left">SERIE:</label>

                                    <div class="col-md-8">
                                        <input id="modalSerie" name="clSerie" type="text" class="form-control cajas" placeholder="Serie" required>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-1 text-left">MODELO:</label>
                                    <div class="col-md-8">
                                        <input id="modalModelo" name="clModelo" type="text" class="form-control cajas" placeholder="Modelo" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-1 text-left">NOM.EQUIPO:</label>
                                    <div class="col-md-8">
                                        <input id="modalNoEquipo" name="clNoEquipo" type="text" class="form-control cajas" placeholder="Nombre del Equipo">
                                    </div>
                                </div>
                             
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-1 text-left" style="padding-right:20px;">
                                        AREA:
                                    </label>

                                    <div class="col-sm-6">


                                        <select name="clArea" id="modalAreaSelect" class="selectpicker" data-style="btn-primary">

                                            @{foreach (var item in Model.listaAreas)
                                            {
                                                <option value="@item.AreaID">@item.Name</option>

                                            }
                                            }



                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-1 text-left">
                                        MARCA:
                                    </label>

                                    <div class="col-sm-6">
                                        <select name="clMarca" id="modalMarcaSelect" class="selectpicker" data-style="btn-primary">
                                            @{foreach (var item in Model.listaBrand)
                                            {
                                                <option value="@item.BrandID">@item.Name</option>
                                            }

                                            }

                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-1 text-left">
                                        ASIGNAR A SERIAL:
                                    </label>

                                    <div class="col-sm-6">
                                        <select name="clSerialAsignar" id="modalSerieASelect" class="selectpicker" data-style="btn-primary">
                                            <option value="N/A">N/A</option>
                                            @if (Model.listaHardware != null)
                                            {
                                                foreach (var item in Model.listaHardware.Where(x => x.TypeHardware.Description == "CPU"))
                                                {
                                                    <option value="@item.SerialNumber">@item.SerialNumber</option>
                                                }

                                            }

                                        </select>

                                    </div>
                                </div>
                                @* input escondido para saber el tipo de hardaware en la base de Datos *@
                                <div class="col-sm-6">
                                    <input id="modalhardware" type="text" name="tipoHardware" hidden>
                                </div>
                                <div class="col-sm-6">
                                    <input id="modalserialorig" type="text" name="serialoriginal" hidden>
                                </div>

                                <div id="divfactura" class="form-group">
                                    <label class="col-md-2 col-md-offset-1 text-left">FACTURA:</label>
                                    <div class="col-sm-4">
                                        <input id="modalFactura" name="clFactura" type="text" class="form-control cajas autocomplete" placeholder="Factura del Equipo">
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#modal2">
                                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Agregar
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-1 text-left">EQUIPO CRITICO:</label>
                                    <div class="col-md-8">
                                        <input id="modalEquipoCritico" name="clEquipoCritico" type="checkbox" class="micheckbox">
                                    </div>
                                </div>

                            </form>

                            @*CARGAR DATOS QUE TIENE EL USUARIO *@
                            <div class="col-md-10 col-md-offset-1">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Componentes del Equipo
                                    </div>

                                    <div class="row" style="margin:10px;">
                                        <div class="col-sm-2">
                                            Tipo
                                        </div>
                                        <div class="col-sm-2">
                                            Marca
                                        </div>
                                        <div class="col-sm-2">
                                            Modelo
                                        </div>
                                        <div class="col-sm-2">
                                            Serie
                                        </div>
                                       
                                        <div class="col-sm-4">
                                           Acciones
                                        </div>

                                    </div>
                                        
                                    <div class="row listaComponentes" style="margin:10px;">
                                        @*<div class=" col-sm-2">
                                       <label></label>
                                    </div>
                                        <div class="col-sm-2">
                                            <label></label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label></label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label></label>
                                        </div>

                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-success" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger"  aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </div>*@
                                      
                                    </div>
                                </div>
                            </div>


                            </div>
                    </div>

                    @*STOCK DISPONIBLE *@
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Equipo Disponible
                                    </div>
                                    <div class="row" style="margin:10px;">
                                        <table data-toggle="table" data-search="true" data-toolbar="#toolbar"
                                               data-show-refresh="true"
                                               data-show-toggle="true"
                                               data-show-columns="true"
                                               data-show-export="true"
                                               data-minimum-count-columns="2"
                                               data-show-pagination-switch="true"
                                               data-pagination="true"
                                               data-id-field="id"
                                               data-page-list="[10, 25, 50, 100, ALL]"
                                               data-show-footer="false">
                                            <thead>
                                                <tr>
                                                    <th data-sortable="true" class="text-center">TIPO</th>
                                                    <th data-sortable="true" class="text-center">MARCA</th>
                                                    <th data-sortable="true" class="text-center">MODELO</th>
                                                    <th data-sortable="true" class="text-center">SERIE</th>
                                                    <th data-sortable="true" class="text-center">ACCIONES</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                               
                                                    @foreach (var item in Model.listaHardware)
                                                    {


                                                        if (item.TypeHardware.Description != "CPU" && item.TypeHardware.Description != "Laptop" && item.TypeHardware.Description != "AIO" && item.SerialAssigned == null)
                                                        {
                                                            <tr>
                                                                <td data-sortable="true" class="text-center">@item.TypeHardware.Description</td>
                                                                <td data-sortable="true" class="text-center">@item.Brand.Name</td>
                                                                <td data-sortable="true" class="text-center">@item.Model</td>
                                                                <td data-sortable="true" class="text-center">@item.SerialNumber</td>
                                                                <td class="text-center">
                                                                    <button type="button" class="btn btn-info" aria-label="Left Align">
                                                                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                                                    </button>
                                                                    <button type="button" class="btn btn-primary" @*style="margin-left:10px;"*@ aria-label="Left Align">
                                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                                    </button>
                                                                </td>
                                                            </tr>

                                                        }
                                                       
                                                    }
                                                
                                            </tbody>
                                        </table>
                                       

                                    </div>

                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary guardarCambios">Guardar Cambios</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@* EDITAR FACTURAS *@
<div id="modalFac" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:65%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h3 class="modal-title text-center">Editar Factura</h3>
            </div>
            <div class="modal-body">
                <form  class="form-horizontal" method="post" action="~/home/RegistroEditarFactura">

                    @*<div class=" form-group">

                        <label class="col-sm-2 text-right col-sm-offset-1">FOLIO:</label>

                        <div class="col-sm-3">
                            <input id="modalFolio" name="FolioModal" type="number" class="form-control cajas" placeholder="Folio" required>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label class="col-sm-2 text-right col-sm-offset-1">P.O:</label>

                        <div class="col-sm-3">
                            <input id="modalPO" name="POModal" type="number" class="form-control cajas" placeholder="P.O" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 text-right col-sm-offset-1">No.PEDIMENTO</label>

                        <div class="col-sm-3">
                            <input id="modalNumPedimento" name="NumPedimentoModal" type="text" class="form-control cajas" placeholder="Numero de Pedimento">
                        </div>
                    </div>
                  
                   
                  

                    <div class="col-sm-6">
                        <input id="modalFolioOriginal" type="number" name="FolioOriginal" hidden>
                    </div>

                    
                     @*input escondido para mandar la alerta 
                    <div class="col-sm-8">
                        <input type="text" class="Ver" value="@Model.veriFicacion" hidden />
                    </div>*@

                    <div class="form-group" style="padding-top:20px;">
                        <div class="col-sm-3 col-sm-offset-4">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                        <div class="col-sm-3">
                            <button id="GuardarFac" type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                      
                    </div>
                   
                </form>

            </div>
          
                
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@* CREAR FACTURAS *@
<div id="modal2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:75%;">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h3 class="modal-title text-center">Agregar Factura</h3>
            </div>
            <div class="modal-body">
                <form id="Factura" method="post" enctype="multipart/form-data" class="form-horizontal" action="">


                    @*<div class="form-group">

                        <label class="col-sm-2 text-right">FOLIO:</label>

                        <div class="col-sm-8">
                            <input type="text" name="clFolio" class="form-control cajas" placeholder="Folio" required>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label class="col-sm-2 text-right">PO:</label>

                        <div class="col-sm-8">
                            <input type="number" name="clPO" class="form-control cajas" placeholder="P.O" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 text-right">NUMERO DE PEDIMENTO:</label>

                        <div class="col-sm-8">
                            <input type="text" name="clNumPedimento" class="form-control cajas" placeholder="Numero de Pedimento">
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label class="col-sm-2 text-right">FECHA:</label>

                        <div class="col-sm-3">
                            <input id="modalFechaFactura" name="FechaFactura" type="date" class="form-control cajas" placeholder="Fecha de la Factura" required>
                        </div>

                    </div>*@


                    <div class="form-group">
                        <label class="col-sm-2 text-right">SUBIR FACTURA:</label>

                        <div class="col-sm-6">
                            <input id="input-1" name="fileup" type="file" class="file" accept="application/pdf">
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary guardarFactura">Guardar Cambios</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


